In [7]:
import numpy as np
import pandas as pd

In [8]:
#help(pd.Series)

# Create series from objects

## Index

In [9]:
i = ['India','China','Nepal']
n = [1121,1453,1876]

In [10]:
pd.Series(data=n)

0    1121
1    1453
2    1876
dtype: int64

In [11]:
pd.Series(data=n, index = i)

India    1121
China    1453
Nepal    1876
dtype: int64

In [12]:
num1 = np.random.randint(0,34,5)
num1

array([19,  9, 16, 18, 10])

In [13]:
name = ['Abhi','Ram','David','Neha','Shilpa']

In [14]:
mydata = pd.Series(num1,name)

In [15]:
mydata

Abhi      19
Ram        9
David     16
Neha      18
Shilpa    10
dtype: int32

int16 store values upto 32767

### Dictionary

In [16]:
age = {'Neha':10,'Frank':12,'Mahesh':7}

In [17]:
age

{'Neha': 10, 'Frank': 12, 'Mahesh': 7}

In [18]:
pd.Series(age)

Neha      10
Frank     12
Mahesh     7
dtype: int64

In [20]:
qt1 = {'Nepal':80,'India':120,'USA':200,'Australia':220}
qt2  = {'Barbados':90,'India':100,'USA':210,'Australia':250}

In [21]:
qt1_s = pd.Series(qt1)
qt2_s = pd.Series(qt2)

In [22]:
qt1_s

Nepal         80
India        120
USA          200
Australia    220
dtype: int64

In [23]:
qt1_s['USA']

200

In [24]:
qt1_s[2]

200

In [25]:
qt1_s.keys()

Index(['Nepal', 'India', 'USA', 'Australia'], dtype='object')

In [26]:
qt1_s*5

Nepal         400
India         600
USA          1000
Australia    1100
dtype: int64

In [27]:
qt2_s/100

Barbados     0.9
India        1.0
USA          2.1
Australia    2.5
dtype: float64

In [28]:
qt1_s+qt2_s

Australia    470.0
Barbados       NaN
India        220.0
Nepal          NaN
USA          410.0
dtype: float64

In [29]:
qt1_s.add(qt2_s)

Australia    470.0
Barbados       NaN
India        220.0
Nepal          NaN
USA          410.0
dtype: float64

In [30]:
qt1_s.add(qt2_s,fill_value = 10)

Australia    470.0
Barbados     100.0
India        220.0
Nepal         90.0
USA          410.0
dtype: float64