In [1]:
#for item in object:
    #statements do task

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [16]:
for x in lst:
    print(x**2)

1
4
9
16
25
36
49
64
81
100

In [11]:
19%5

4

In [18]:
for num in lst:
    if num**2 == 81:
        print(num)

9

In [22]:

for num in lst:
    if num%2 == 0:
        print(num)
    else:
        print('Odd Number')

Odd Number
2
Odd Number
4
Odd Number
6
Odd Number
8
Odd Number
10

In [23]:
sum1 = 0
for num in lst:
    sum1 = sum1 + num
    
print(sum1)

55

In [24]:
sum1 = 0
for num in lst:
    sum1 += num
    
print(sum1)

55

In [26]:
for letter in 'hello world':
    print(letter*2)

hh
ee
ll
ll
oo

ww
oo
rr
ll
dd

In [34]:
lst2 = [(1,2),(3,4),(4,5)]

In [29]:
for x in lst2:
    print(x)

(1, 2)
(3, 4)
(4, 5)

In [33]:
#tuple unpacking
for (t1,t2) in lst2:
    print(t2**t1)

2
64
625

In [35]:
d = {'a1':1,'a2':2,'a3':3}

In [36]:
for item in d:
    print(item)

a1
a2
a3

In [38]:
d.items()

dict_items([('a1', 1), ('a2', 2), ('a3', 3)])

In [41]:
for key, value in d.items():
    print(key)
    print(value*2)

a1
2
a2
4
a3
6